/*!---------- PLACE YOUR CUSTOM STYLES AND OVERRIDES HERE ----------*/
.theme-color {
    color: #ff3ecf;
    font-weight: 700;
}

.w-100 {
    max-width: 100%;
}

.features {
    padding-top: 20px;
    padding-bottom: 20px;
}

.features img {
    max-height: 250px;
}

.features .col-md-4 {
    text-align: center;
    padding-bottom: 24px;
}

#myCarousel .carousel-inner .item {
    text-align: center;
}

@media only screen and (max-width:767px) {
    .nav-container .navbar .row {
        min-height: 120px;
    }

    .main-container {
        top: 90px;
    }
}