/*!---------- PLACE YOUR CUSTOM STYLES AND OVERRIDES HERE ----------*/
.theme-color {
    color: #ff3ecf;
    font-weight: 700;
}

.w-100 {
    max-width: 100%;
}

.features {
    padding-top: 20px;
    padding-bottom: 20px;
}

.features img {
    max-height: 250px;
}

.features .col-md-4 {
    text-align: center;
    padding-bottom: 24px;
}

#myCarousel .carousel-inner .item {
    text-align: center;
}

@media only screen and (max-width:1200px) {
    .nav-container .navbar .row {
        min-height: 120px;
    }

    .nav-1 .navbar {
        /*max-height: 160px !important*/
        /*height: 160px !important*/
    }
}

@media only screen and (max-width:767px) {
    .sm-hide {
        display: none;
    }
}

.sm-show {
    display: none;
}

@media only screen and (max-width:767px) {
    .sm-show {
        display: inherit;
    }
}

.HYPE_scene {
    background-color: transparent !important;
}

#rawfitani_hype_container {
    position: absolute !important;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
}